/* TODO: Make it awesome */

/* section, header {
  margin: 50px;
}

form {
  border: 2px solid black;
}

form label {
  margin: 5px;
  border: 1px solid blue;
}

form select {
  margin: 5px;
  border: 1px solid red;
} */